<section class="todoapp">
  <header class="header align-items-center">
    <h1>Algren's Todos</h1>
    <input type="text" class="new-todo form-control" placeholder="What needs done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>

  <section class="main" *ngIf="todos.length > 0">
    <ul cdkDropList (cdkDropListDropped)="drop($event)" class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view" cdkDrag>
          <input type="checkbox" class="toggle" (click)="toggleTodoComplete(todo)" [checked]="todo.complete" />
          <label>{{todo.title}}</label>
          <span class="destroy" (click)="removeTodo(todo)"><i class="fas fa-trash"></i></span>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count">
      <strong>{{todos.length}} </strong>{{todos.length == 1 ? 'item' : 'items'}} left
    </span>
  </footer>
</section>